/*All divs are at least 150px tall (but will automatically be taller if needed)
  with 25px padding on all sides.*/
div{
    min-height: 150px;
    padding: 25px;
}

/*Default text is Times New Roman font with a sans-serif as a fallback option.*/
body{
    font-family: "Times New Roman", Times, sans-serif;
    background-color:#000000;
    color:#FFFFFF;
}

/*Header 1 is 64px, centered, and has padding of 10px.*/
h1{
    padding: 10px;
    font-size: 64px;
    text-align: center;
}

/*Header 2 is 32px, with grey (#808080) drop shadow (use text-shadow property)
  that is offset 4px horizontally, 4px vertically, and 2px blur.*/
h2{
    font-size: 32px;
    text-shadow: 4px 4px 2px #808080;
}

/*Paragraphs use 24px font and have 15px padding on the top only.*/
p{
    font-size: 24px;
    padding-top: 15px;
}

/*All images are on their own line, centered, and are 550px wide with proper
  aspect ratio (they are not warped or stretched).*/
img{
    width: 550px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Red div background color is red and text is aligned on the right side.*/
div#red{
    background-color: #FF0000;
    text-align: right;
}

/*Blue div background color is blue and text is aligned on the left side.*/
div#blue{
    background-color:#0000FF;
    text-align: left;
}

/*Yellow div background color is yellow and text is aligned on the right side.*/
div#yellow{
    background-color:#FFFF00;
    text-align: right;
}

/*Header 2 and paragraph text is black, with drop shadow #c7e2c7
 (use text-shadow property) that is offset 4px horizontally, 4px 
  vertically, and 2px blur.*/
div#yellow h2{
    color:#000000;
    text-shadow: 4px 4px 2px #C7E2C7;
}
div#yellow p{
    color:#000000;
}

/*Green div background color is #008000 and text is aligned on the left side.*/
div#green{
    background-color: #008000;
    text-align: left;
}

/*Paragraphs within the footer have centered text with 10x padding on the
  bottom and right only.*/
footer p{
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: center;
}
